body {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: "Monserrat", system-ui;
    font-weight: 400;
    font-style: normal;
    background-image: url(images/upscaled-4x-openart-7d8689b0c970437c87259b47d43195e6_raw.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: -11dvh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 10px 10px;
    color: rgba(255, 255, 255, 1);
    font-size: 30px;
}

.navbar-left-item {
    margin-right: 30px;
}

.navbar-left {
    display: flex;
}

.navbar-left a {
    color: #fff;
    text-decoration: none;
    padding: 0 5px;
    transition: all ease 0.3s;
}

.navbar-left a:hover {
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.8), 0 0 30px rgba(255, 255, 255, 0.6);
    color: #fff;
}

.container {
    position: relative;
    height: 100vh;
}

.first {
    position: absolute;
    right: 0;
    bottom: 50;
}

.second {
    position: absolute;
    right: 0;
    bottom: 0;
}

.title-text {
    font-size: 50vh;
    margin: 0;
    padding-right: 10px;
    color:  rgba(255, 255, 255, 1);
    white-space: nowrap;
}